@page "{id:int?}"
@model             DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card text-dark">
    <div class="card-header">
        <h4>Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Title)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.ReleaseDate)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Genre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Price)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Rating)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Rating)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Director)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Director)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.MainCast)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.MainCast)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Synopsis)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Synopsis)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Movie.Id">Edit</a>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
